@charset "utf-8";


@font-face {font-family: 'iconfont';
    src: url('/src/img/iconfont/iconfont.eot'); /* IE9*/
    src: url('/src/img/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/src/img/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('/src/img/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/src/img/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}




*{
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-size: $baseSize;
    line-height: 1.5;
    font-family: helvetica Neue, helvetica, STHeiTi, sans-serif;
    color: #FFFDEF;  
}

ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,
textarea,button,p,blockquote,th,td{
    margin: 0;
    padding: 0;
}

ul,ol,menu{
    list-style: none;
}

address,cite,dfn,em,i,optgroup,strong,var{
    font-style: normal;
}

article,aside,details,figcaption,footer,header,menu,nav,section,summary,figure{
    display: block;
}



.container{
    width: 100%;
    height: 100%;
    @include flexbox(column);
}


.picbg{
    background: url(/src/img/bg.jpg) no-repeat left top;
    background-size: 100% 100%;
}


@media only screen and (max-width: 321px) {
    .text-middle{
        font-size: $baseSize + 4;
        height: 30px;
        line-height: 30px;
    }
    .text-big{
        font-size: $baseSize + 6;
    }
}

@media only screen and (min-width: 322px) and (max-width: 414px) {
    .text-middle{
        font-size: $baseSize + 4;
        height: 30px;
        line-height: 30px;
    }
    .text-big{
        font-size: $baseSize + 6;
    }
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
    .text-middle{
        font-size: $baseSize + 6;
        height: 35px;
        line-height: 35px;
    }
    .text-big{
        font-size: $baseSize + 8;
    }
}

@media only screen and (min-width: 769px) {
    .text-middle{
        font-size: $baseSize + 8;
        height: 40px;
        line-height: 40px;
    }
    .text-big{
        font-size: $baseSize + 12;
    }
}



/*====================1px边框==================*/

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .border-bottom {
        border-bottom: solid  0.5px #000;
    }
}

@media only screen and (-Webkit-min-device-pixel-ratio: 2.5), only screen and (min-device-pixel-ratio: 2.5) {
    .border-bottom {
        border-bottom: solid  0.3333px #000;
    }
}





